body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #0b1522;
}

.heart {
    height: 70px;
    width: 70px;
    background: #f20044;
    position: relative;
    transform: rotate(-45deg);
    box-shadow: -10px 10px 90px #f20044;
    animation: heart 0.6s linear infinite;
}

@keyframes heart {
    0% {
        transform: rotate(-45deg) scale(1.07);
    }

    80% {
        transform: rotate(-45deg) scale(1.0);
    }

    100% {
        transform: rotate(-45deg) scale(0.8);
    }
}

.heart::before {
    content: '';
    position: absolute;
    height: 70px;
    width: 70px;
    background: #f20044;
    top: -50%;
    border-radius: 50px;
    box-shadow: -10px -10px 90px #f20044;
}

.heart::after {
    content: '';
    position: absolute;
    height: 70px;
    width: 70px;
    background: #f20044;
    right: -50%;
    border-radius: 50px;
    box-shadow: 10px 10px 90px #f20044;
}

.mensaje {
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, 0);
    font-size: 28px;
    color: #fff;
    text-align: center;
    font-family: 'Didot', serif;
    font-weight: bold;
    text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.5);
    padding: 10px 20px;
    border-radius: 10px;
}


@media only screen and (max-width: 768px) {
    .heart {
        height: 40px;
        width: 40px;
    }

    .mensaje {
        font-size: 18px;
        padding: 5px 10px;
    }
}

@media only screen and (max-width: 480px) {
    .heart {
        height: 30px;
        width: 30px;
    }
    .mensaje {
        font-size: 14px;
        padding: 3px 5px;
    }
}