:root {
  --primary-color: #f20044;
  --background-color: #0b1522;
  --font-family: 'Didot', serif;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--background-color);
}

.heart {
  height: 70px;
  width: 70px;
  background-color: var(--primary-color);
  position: relative;
  transform: rotate(-45deg);
  box-shadow: -10px 10px 90px var(--primary-color);
  animation: heart 0.6s linear infinite;
}

@keyframes heart {
  0% {
    transform: rotate(-45deg) scale(1.07);
  }
  80% {
    transform: rotate(-45deg) scale(1);
  }
  100% {
    transform: rotate(-45deg) scale(0.8);
  }
}

.heart::before,
.heart::after {
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: var(--primary-color);
  border-radius: 50%;
  box-shadow: 0 0 90px var(--primary-color);
}

.heart::before {
  top: -50%;
  left: 0;
  transform: translate(0, -50%);
}

.heart::after {
  right: -50%;
  top: 0;
  transform: translate(50%, 0);
}

.mensaje {
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, 0);
  font-size: 28px;
  color: #fff;
  text-align: center;
  font-family: var(--font-family);
  font-weight: bold;
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
  padding: 10px 20px;
  border-radius: 10px;
}

/* Ajustamos el tamaño del corazón para pantallas móviles */
@media screen and (max-width: 600px) {
  .heart {
    height: 40px;
    width: 40px;
  }
  .mensaje {
    font-size: 18px;
    padding: 5px 10px;
  }
}

@media screen and (max-width: 400px) {
  .heart {
    height: 30px;
    width: 30px;
  }
  .mensaje {
    font-size: 14px;
    padding: 3px 5px;
  }
}
